body {

    h1, h2, h3 {
        margin-top: 3rem;
    }

    .container {
        max-width: none;
    }
    .row {
        max-width: 75%;
    }
    .col-md-3 { 
        /* display: none; hide sidebar */
        max-width: 170px;
    }
    .col-md-9 { 
        flex-basis: 80%;
        /* max-width: none; */
    }
    li[data-bs-level="1"] a {
        margin-left: -8px;
    }
    li[data-bs-level="2"] {
        margin-left: 16px;
    }
    table {
        margin-top: 3rem;

        .highlight {
            background-color: rgb(85, 85, 85);
        }

        tbody {
            
            tr:nth-child(odd) {
                background-color: #282828;
            }

            tr:nth-child(even) {
                background-color: #222222;
            }
        }

        th {
            min-width: 48px;
        }
        th:not(:first-child):not(:nth-child(2)) {
            text-align: center;
        }
        th:not(:first-child):not(:nth-child(2))::after {
            content: " x";
            font-size: 0.8rem;
        }
        td {
            text-align: center;
            vertical-align: top;
        }
        td:first-child {
            vertical-align: middle;
        }
        td:not(:first-child) {
            min-width: 130px;
        }
    }

    img {
        max-width: 128px !important;
        background-color: transparent !important;
        border: 0px solid !important;
    }
}